<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/actions.js' %}"></script>
</head>
<body>
    <section>
        <span>I do not have much time, but my work in progress....</span>
    </section>

    <section>
        <img src="/static/images/6a97ee20-bb7d-48d8-8780-1c0b1bb62fe4_xXxGA6E.jpeg">
    </section>

    <form >
         <!--<input type="button" onclick="javascript:post_new('{{user.id}}')" value="Create new record" /><br>-->
         <input type="text" id="newtext" placeholder="text..." ><br>
     </form>

    <section>
        <div class="container">
            <div id="data-container" align="center" ></div>
                <div id="navigation" align="center">
                    <input type="button" title="Click to get previous page" onclick="buttonPrev();" value="<<Prev"/>
                    <input type="button" title="Click to get next page" onclick="buttonNext();" value="Next>>"/>
                </div>
        </div>
    </section>

    <script>
//        getData(currentUrl);
    </script>
</body>
</html>

