<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
{#    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}">#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">


    <title>Myblog testcase </title>
</head>
<body>
    <header class="border-bottom border-secondary mb-2">
         <div class="container ">
                <nav class="navbar navbar-expand-md navbar-light text-uppercase py-0">
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                      </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link px-3 text-right" href="#">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 text-right" href="#">Navitem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 text-right" href="#">Navitem</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3 text-right" href="https://www.linkedin.com/in/artem-khriapa-ab0169153/" target="_blank">About me</a>
                        </li>
                            <a class="nav-link px-3 text-right" href="https://github.com/ArtemKhriapa" target="_blank">About me too</a>
                        </li>
                    </ul>
                  </div>
                </nav>
        </div>
    </header>
    <main role="main" class="container mb-2">

        <section style="display: none" class="nav-section" >
            <div class="container">
                <div align="center">
                    <a id="article-button-prev" role="button" class="btn mt-auto btn-primary ml-auto text-capitalize">Prev page</a>
                    <a id="article-button-next" class="btn mt-auto btn-primary ml-auto text-capitalize">Next page</a>
                </div>
            </div>
        </section>
        <section style="">
            <div class="row content my-2 " id="content" style="display: none">
                <div class="col-md-12 border rounded border-secondary">
                    <div id="hidetext" style="display: none"></div>
                    <div class="d-flex py-3 rounded border-secondary">
                        <div class="image w-50 pr-2">
                            <img id="article-image" class="img-thumbnail w-100" src="" alt="">
                        </div>
                        <div class="d-flex flex-column w-75">
                            <h5 id="header-text" class="text-uppercase">Title in here</h5>
                            <p id="article-short">Shorted article in here </p>
                            <div class="d-flex button-section mt-auto ">
                                <span id="publishied-date" class="text-muted mr-auto "> publishied datetime tere : </span>
                                <a id="article-button" role="button" href="#" class="btn mt-auto btn-primary ml-auto text-capitalize">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2 " id="content-large" style="display: none">
                <div class="col-md-12 ">
                    <div class="d-flex flex-column py-3 rounded border-secondary">
                        <div class="button-section mt-auto  mx-auto">
                            <a role="button" href="#" class="blog-button btn btn-primary text-capitalize">back to blog</a>
                        </div>
                        <h5 id="header-text" class="text-uppercase text-center">Title in here</h5>
                        <div class="mx-auto">
                            <img src="" class="img-fluid rounded article-image" alt="">
                        </div>
                        <p id="article">Shorted article in here </p>
                        <span id="publishied-date" class="text-muted mr-auto "> publishied datetime tere : </span>
                        <div class="button-section mt-auto  mx-auto">
                            <a role="button" href="#" class="blog-button btn btn-primary text-capitalize">back to blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="blog-content">
        </section>

        <section style="display: none" class="nav-section" >
            <div class="container">
                <div align="center">
                    <a id="article-button-prev" role="button" class="btn mt-auto btn-primary ml-auto text-capitalize">Prev page</a>
                    <a id="article-button-next" class="btn mt-auto btn-primary ml-auto text-capitalize">Next page</a>
                </div>
            </div>
        </section>

    </main>
    <footer class="footer bg-light border-secondary border-top">
        <div class="container">
            <p> footer in here </p>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/actions.js' %}"></script>
    <script>
        getData(currentUrl);
    </script>
</body>
</html>

